import sys
from PyQt5.QtWidgets import QApplication, QWidget, QPushButton, QVBoxLayout

{% for import_stmt in imports %}
{{ import_stmt }}
{% endfor %}

{% for action_code in actions_definitions %}
{{ action_code }}
{% endfor %}

class GeneratedGUI(QWidget):
    def __init__(self):
        super().__init__()
        self.init_ui()

    def init_ui(self):
        layout = QVBoxLayout()
        {% for widget in widgets %}
        {{ widget }}
        {% endfor %}
        self.setLayout(layout)
        self.setWindowTitle('Generated GUI')

def execute_actions():
    {% for action in execute_actions %}
    {{ action }}
    {% endfor %}

if __name__ == '__main__':
    app = QApplication(sys.argv)
    gui = GeneratedGUI()
    gui.show()
    sys.exit(app.exec_())
