# main.py.jinja
from PyQt5 import QtWidgets
import sys
import subprocess

class CommandGuiApp(QtWidgets.QWidget):
    def __init__(self):
        super().__init__()
        self.initUI()

    def initUI(self):
        self.setWindowTitle("Command Executor")
        self.setGeometry(100, 100, 300, 100)

        self.button = QtWidgets.QPushButton("Run Command", self)
        self.button.clicked.connect(self.run_command)
        self.button.resize(self.button.sizeHint())
        self.button.move(100, 50)

    def run_command(self):
        command = "{{ command }}"
        try:
            subprocess.run(["powershell", "-Command", command], check=True)
        except subprocess.CalledProcessError as e:
            print("Error executing command:", e)

if __name__ == "__main__":
    app = QtWidgets.QApplication(sys.argv)
    ex = CommandGuiApp()
    ex.show()
    sys.exit(app.exec_())
